**/.DS_Store
__pycache__
book/_build/

# Jupyter Notebook
**/.ipynb_checkpoints

# IDE settings
.vscode/
.idea/

# psi4
timer.dat
psi.*.clean

# git-secret
.gitsecret/keys/random_seed
!*.secret
*.bak

# Materials
book/classes/class-02.md
book/classes/class-03.md
book/assignments/assignment-02.md
book/classes/class-04.md
book/classes/class-05.md
book/classes/class-06.md
book/classes/class-07.md
book/solutions/solution-01.md
book/misc/paper-collection.md
book/classes/class-08.md
book/classes/class-09.md
book/classes/class-10.md
book/classes/class-11.md
book/classes/class-12.md
book/classes/class-13.md
book/classes/class-14.md
book/classes/class-15.md
book/activities/02-activity-active-reading.md
book/activities/02-activity-reading-for-gist.md
book/activities/02-activity-role-based-analysis.md
