**/.DS_Store
__pycache__
book/_build/

# Jupyter Notebook
**/.ipynb_checkpoints

# IDE settings
.vscode/
.idea/

# psi4
timer.dat
psi.*.clean

# git-secret
.gitsecret/keys/random_seed
!*.secret

# Materials
book/classes/class-02.md
book/assignments/assignment-01.md
book/classes/class-03.md
book/assignments/assignment-02.md
